name: verify

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-fmt:
    uses: mateusz-uminski/github-actions/.github/workflows/terraform-lint-fmt.yaml@main
    with:
      terraform_version: 1.3.3
